.btn-change{
  width: 20rem;
  height: 5rem;
  border-radius: 2rem;
  border: 3px solid; 
  outline: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.808);
  margin: auto;
  cursor: pointer;
  box-shadow: 3px 3px 4px #000;
}

.btn-change:hover{
  transform: scale(1.03);
  background-color: rgba(66, 66, 66, 0.808);
  transition: transform .2s ease-in-out;
}

.btn-change:active{
  transform: scale(.9);
  background-color: rgba(66, 66, 66, 0.808);
  transition: transform .2s ease-in-out;
}