header{
  width: 100%;
  padding: 1rem 6rem 1rem 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1000;
}

ul{
  display: flex;
  gap: 1.5rem;

}

li{
  color: black;
}

img{
  height: 200px;
  width: 250px;
}

a{
    color: #fff;
    margin-right: 2rem;
    font-size: 1.7rem;
    text-shadow: 2px 2px 1px black;
  
}

a:hover{
  padding-bottom: .5rem;
  border-bottom: 3px solid rgba(255, 255, 255, 0.795);
}